/*GENERALES*/
:root {
    --negro: #000;
    --gris: #5a5959;
    --blanco: #fff;
    --principal: #08fdd8;
    --varientaDePrincipal: #4eedd5;
    --secundario: #ed66ed;
    --amarillo: #edc637;
    --amarilloDark: #a1882d;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.w-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-100 {
        width: 50%;
    }
}

/*Etiquetas HTML*/
body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: var(--negro);
    color: var(--blanco);
}

h1 {
    margin: 0 auto;
    text-transform: uppercase;
    /* position: relative; */
    font-size: 1.5rem;
    width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    animation: escribiendo 5s steps(31), cursor 0.5s step-end infinite alternate;
    font-family: "Fira Mono", monospace;
    font-weight: bold;
}

@media only screen and (min-width: 480px) {
    h1 {
        font-size: 3rem;
    }
}

span {
    font-size: 1.5rem;
    color: var(--varientaDePrincipal);
    background-color: var(--secundario);
}

@media (min-width: 480px) {
    span {
        font-size: 3rem;
    }
}

h2 {
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.9rem;
    color: var(--principal);
    font-weight: 800;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    text-align: center;
}

img {
    width: 100%;
}
/*CLASES*/
.header {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header a {
    font-size: 1.5rem;
    color: var(--secundario);
    padding: 2.5rem;
    margin-bottom: 1rem;
}

.navegacion-principal {
    margin: 0 auto;
    padding-top: 2rem;
}

.titulo {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.acerca-de-mi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 3rem;
    margin-bottom: 3rem;
    /* align-items: center; */
}


.img-acerca-de-mi{
    max-width: 20rem;
    margin: 0 auto;
}


@media (min-width: 768px) {
        .acerca-de-mi{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
 }

.contenedor {
    max-width: 160rem;
    margin: 0 auto;
}


.navegacion-principal a:hover {
    color: var(--principal);
    border-bottom: 1px solid var(--secundario);
}

.footer {
    text-align: center;
    color: var(--amarilloDark);
}

.boton {
    background-color: var(--secundario);
    color: var(--principal);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 50%;
    text-align: center;
    border: none;
}
/*ANIMACIONES*/
@keyframes escribiendo {
    0% {
        width: 0;
    }
    100% {
        width: 31ch;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
